/*========= Body / carousel ==========*/

.dimension {
    content: "";
    display:"block";
    margin-left: 700px;
}

.color_carousel {
    color: #c7650ad0;
    font-size: 1.4rem;
}

.titre_vedette {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0.4rem;
    /*margin-left: 4rem;*/
    margin: 2rem 4rem 2rem 4rem;
    height : fit-content;
    width: fit-content;
    background-color: #fbac80;
    border-radius: 6px;
    border-bottom: 2px solid #06080f;

}


/*========= Body / article/images ==========*/

body {
    background-image: url(../images/fond_sport.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 35%;
}

article {
    width: 20%;
    padding: 0.8rem;
    border-radius: 10px 10px 100px 10px;
    background-color: #fcd1af;
    border-bottom: 2px solid #06080f;
    padding: 0;
    background: linear-gradient(to top, #fcd1af 20%, transparent 100%); /* #fff */
    margin: 4rem;
}

article img {/*
    width: 450px;
    height: 240px;*/
    width: 530px;
    height: 267px;
    padding: 0.5rem;
}

.img_bis {
    margin:auto;
    width: 300px;
    height: 225px;
    margin-bottom: 42px;
}

figcaption h3 {
    font-size: 1.3rem;
    padding: 0.8rem;
    
}

figcaption h3, p {
    display: flex;
    font-size: 1.5rem;
    justify-content: right;
    margin-right : 3rem;
}

article figure {
   margin: auto;
}

section div {
    display: flex;
    justify-content: space-around;
}

label {
    margin-left: 1rem;
}

input {
    width: 50px;
}

figcaption button {
    border: 1px solid black;
    border-radius: 6px;
    background-color: #fbac80;
}

/******************** Media Query ******************/

@media screen and (max-width: 1200px) {
    /* body {
        width: 55%;
    } */

    /* header nav {
        display: none;
    } */

    p.btn {
        display: block;
    }

    section {
        display: flex;
        justify-content: space-between;
    }

    figure div.img {
        height: 120px;
    }

}

@media screen and (max-width: 1000px) {

    /* section {
        display: block;
    } */
    /* body {
        width: 100%;
    } */

    figure div.img {
        height: 180px;
    }

}

@media screen and (max-width: 767px) {
    section {
        display: block;
    }

    /* body {
        width: 100%;
    } */

    figure div.img {
        height: 260px;
    }
}

@media screen and (max-width: 450px) {
    figure div.img {
        height: 170px;
    }

}